@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;700&display=swap");

:root {
    --background: #dfdfdf;
    --background-rgb: 223, 223, 223;

    --background-light: #afafaf;
    --background-light-rgb: 175, 175, 175;

    --primary: #b60f60;
    --primary-rgb: 182, 15, 96;

    --silver: #2f0a19;
    --silver-rgb: 47, 10, 25;

    --silver-dim: #805862;
    --silver-dim-rgb: 128, 88, 98;

    --shadow: #bfbfbf;
    --shadow-rgb: 191, 191, 191;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transition: 300ms all ease-in-out;

    text-decoration: none;
    list-style: none;
    list-style-type: none;

    outline: none;
}

body,
html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    background: rgba(var(--primary-rgb), 0.035);
    color: var(--text-color);
}

a {
    color: var(--text-color);
}
